/**
!/.gitignore
!/.gitattributes
!/_dev/
!/_dev/*
!/_dev/**/*
_dev/script/gta3sc/
_dev/code/**/*
!_dev/code/*
!_dev/code/source/*

gta3img
texgta3
UL.7z

!/CLEO/
!/CLEO/CLEO_TEXT/
!/CLEO/**/ul*

!/data/
!/data/maps/
!/data/maps/UL
!/data/maps/UL/*
!/data/maps/UL/**/*

txd
col
dff

!/data/maps/landne/
!/data/maps/landne/landne.ipl
!/data/maps/landsw/
!/data/maps/landsw/landsw.ipl

!main.scm
!gta3.dat
!CULLZONE.dat
!waterpro.dat
!gta3.zon
!map.zon
!object.dat
!modelTraits.dat

!/scripts/
!III.OpenLimitAdjuster.asi
!III.VC.SA.LimitAdjuster.ini
!III.Upstate.asi